<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LuhnAlgorithm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B33A0251F68937F00C8E259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B33A03E1F68937F00C8E259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B33A0491F68937F00C8E259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
